.me-1 {
  margin-right: 0.25rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.fs-5 {
  font-size: 1.25rem;
}

.fs-6 {
  font-size: 1rem;
}

.text-success {
  color: #28a745 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-danger {
  color: #dc3545 !important;
}
